@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@500&family=Roboto:ital,wght@0,400;1,700&family=Rubik&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;}
.container{
    width: 870px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 25px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}



.top{
    padding: 30px;
}
.section-title h2{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player-image img{
    width: 56px;
    height: 56px;
}
.player-name h3{
    font-size: 18px;
    margin-left: 16px;
}


.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 30px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
    margin-top: 6px;
}
.blog-title h2{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}
.blog-img img{
    width: 177px;
}




/* course */

.latest-course{
   padding: 30px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course{
    display: flex;
    flex-direction: column;
}
.course-image img{
    width: 224px;
    margin-bottom: 20px;
}
.course-title{
    margin-bottom: 14px;
}
.course-title h2{
    font-size: 20px;
    margin-bottom: 8px;
}
.course-title p{
    font-size: 14.69px;
    color: #ED6B4F;
}
.fa-star{
    font-size: 12px;
    color: #FFC014;
}
.fa-star    .disable{
    color: #AEAEAE;
}


@media (max-width:992px) {
    .container{
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .player , .blog , .course{
        justify-content: center;
        align-items: center;
    }    
    .course{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width:688px) {
    .container{
        width: 90%;
    }
    .players{
        grid-template-columns: 1fr;
    }
    .blogs , .courses{
        grid-template-columns: repeat(1, 1fr);
    }

    .player , .blog , .course{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }    
    .player{
        flex-direction: row;
    }

}

